@import url('https://fonts.cdnfonts.com/css/mineplayer');
@import url('https://fonts.cdnfonts.com/css/minecraftia');
.background_home{
    background-image:url("https://i.pinimg.com/originals/88/e5/54/88e5540465d258ab1d271bfc11189533.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.table_description{
    filter: drop-shadow(0px 0px 8px black);
}
