.table_list{
    position: absolute;
    top: 17px;
    left: -2px;
    z-index: 9999;
    background-color: #c6c6c6;
    border: 2px solid black;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height:210px;
    margin-top: 3px;
}
.item_list{
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns:  repeat(3,45px);
     grid-auto-rows: 45px;
    /* background-color: #c6c6c6; */
    border: 2px solid black;
    gap: 1px;
    border-radius: 0px 0px 7px 7px;
    height: 100%; 
}
#helmet1{
    background-color: #d6d6d6;
}
#armor1{
    background-color: #d6d6d6;
}
#pant1{
    background-color: #d6d6d6;
}
